<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editing <%= @figure.name %></title>
  </head>
  <body>
    <h1>Editing Figure</h1>

    <form class="" action="index.html" method="post">
      <h4>Name: <input type="text" name="figure[name]" id="figure_name" value="<%= @figure.name %>"></h4>

      <% Title.all.each do |title| %>
        <input type="checbox" name="figure[title_ids][]" value="<%= title.id %>">

      <br><br>
      <input type="submit" value="Edit Figure">
    </form>
  </body>
</html>
