<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Editing <%= @figure.name %></title>
  </head>
  <body>
    <h1>Editing Figure</h1>

    <form class="" action="index.html" method="post">
      <h4>Name: <input type="text" name="figure[name]" id="figure_name" value=""></h4>


      <br><br>
      <input type="submit" value="Edit Figure">
    </form>
  </body>
</html>
